*,
*::after,
*::before{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial;
}
.header{
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.brand{
  font-size: 2.5rem;
  color: white;
}
.nav{
  flex-basis: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.5rem;
}
.nav a{
  text-decoration: none;
  color: white;
}

.banner{
  max-width: 1024px;
  width: 100%;
  height: 50vh;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../assets/bowl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}